/storage/*.key
/database/database.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea*
/.vscode*
/public/hot*
/public/storage*
.env
.env.backup
.git*
bootstrap/cache/*
docker*
.dockerignore
docker-compose.yml
node_modules*
public/dist/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor*